*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Digital7Mono';
    src: url(resources/Digital7Monoitalic-8xKz.ttf);
}

main {
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    margin: 20px auto;
    width: 800px;
    height: 534px;
    background-image:url(resources/calculator_picture.jpg); 
}

.calc_body {
    margin-left: 50px;
    display: grid;
    width: 270px;
    height: 480px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.upper {
    grid-column:1/5;
    height: 80px;
    margin-top: 40px;
}

.display {
    width: 270px;
    height: 85px;
    grid-column: 1/5;
    margin-bottom: 25px;
    font-family: 'Digital7Mono', Courier, monospace;
    font-size: 75px;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}
button {
    height: 40px;
    border: solid 2px black;
    border-radius: 5px;
    background: rgb(37, 37, 37);
    color: thistle;
    margin:2px;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 1);
}

.disabled {
    color: grey;
}

.disabled:hover{
    background: rgb(37, 37, 37);
}

button:hover {
    background: rgb(26, 25, 25);
}

#plus {
    grid-row: 7/9;
    grid-column: 4/5;
    height: 84px;
}
