.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about article{
    width: 100%;
}

.about__heading {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin: 30px;
    padding: 20px 0;
    background: radial-gradient(circle, rgba(236,236,236,1) 35%, rgba(242,242,242,1) 50%);
}

.about__general {
    
}


.about__skills_container {
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about__skills_container img {
    width: 90px
}

